body {
    color: #ffffff;
    background-color: #000000
}

div {
    justify-content: center;
    border: 2px solid;
    border-radius: 6px;
    padding: 5px;
}

button {
    font-weight: bold;
    opacity: .65;
    border-radius: 6px;
    padding: 6px;
    /* border: 1px solid #000000; */
    background-color: #ffffff;
    color: #000000;
}
button:hover {
    opacity: .85;
}
button:active {
    opacity: 1;
    /* border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff; */
}

#resetButton {
    color: #ffffff;
    background-color: #ff0000;
}

#setupDiv {
    border-color: #ff869a;
}

#startButton {
    color: #ffffff;
    background-color: #0800ff;
}

#gameDiv {
    border-color: #b2ff86;
}

#guessButton {
    color: #ffffff;
    background-color: #00ff22;
}

#gameTable {
    border: 2px solid #00ff22;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    text-align: center;
}
.table-row {
    background-color: #4b4b4b;
}
#rowA {
    color: #ff762c;
}
#rowB {
    color: #fff12c;
}
#rowC {
    color: #2cd1ff;
}
#rowD {
    color: #ff2cd5;
}
#rowE {
    color: #45ff2c;
}
#rowF {
    color: #ff2c2c;
}
