$primary: #3880ff;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

$box-null: #000000;
$box-hit: #00ff66;
$box-near: #ff9900;
$box-miss: #800000;
$key-dead: #545454;

#content {
  background-color: #92949c9a;
  border-radius: 10px;
  padding: 1%;
  margin-block: 1%;
  animation: grayscale-border 15s linear;
  animation-iteration-count: infinite;
}

*[theme="dark"] {
  background-color: $dark;
  color: $light;
}

*[theme="light"] {
  background-color: $light;
  color: $dark;
}

body {
  animation: rainbow-dead-background 50s linear;
  animation-iteration-count: infinite;
  transition: 0.2s;
  text-align: center;
}


//? Animations
@keyframes grayscale-color {
  0%,
  100% {
    color: #000000;
  }

  25%,
  75% {
    color: #808080;
  }

  50% {
    color: #ffffff;
  }
}

@keyframes grayscale-color-reversed {
  0%,
  100% {
    color: invert(#000000);
  }

  25%,
  75% {
    color: invert(#808080);
  }

  50% {
    color: invert(#ffffff);
  }
}

@keyframes grayscale-background {
  0%,
  100% {
    background-color: #000000;
  }

  25%,
  75% {
    background-color: #808080;
  }

  50% {
    background-color: #ffffff;
  }
}

@keyframes grayscale-border {
  0%,
  100% {
    border: 2px solid #000000;
  }

  25%,
  75% {
    border: 2px solid #808080;
  }

  50% {
    border: 2px solid #ffffff;
  }
}

@keyframes grayscale-background-reverse {
  0%,
  100% {
    background-color: invert(#ffffff);
  }

  25%,
  75% {
    background-color: invert(#808080);
  }

  50% {
    background-color: invert(#000000);
  }
}

@keyframes grayscale-border-reverse {
  0%,
  100% {
    border: 2px solid invert(#ffffff);
  }

  25%,
  75% {
    border: 2px solid invert(#808080);
  }

  50% {
    border: 2px solid invert(#000000);
  }
}

@keyframes rainbow-color {
  100%,
  0% {
    color: #ff0000;
  }

  8% {
    color: #ff7f00;
  }

  16% {
    color: #ffff00;
  }

  25% {
    color: #7fff00;
  }

  33% {
    color: #00ff00;
  }

  41% {
    color: #00ff7f;
  }

  50% {
    color: #00ffff;
  }

  58% {
    color: #007fff;
  }

  66% {
    color: #0000ff;
  }

  75% {
    color: #7f00ff;
  }

  83% {
    color: #ff00ff;
  }

  91% {
    color: #ff007f;
  }
}

@keyframes rainbow-background {
  100%,
  0% {
    background-color: #ff0000;
  }

  8% {
    background-color: #ff7f00;
  }

  16% {
    background-color: #ffff00;
  }

  25% {
    background-color: #7fff00;
  }

  33% {
    background-color: #00ff00;
  }

  41% {
    background-color: #00ff7f;
  }

  50% {
    background-color: #00ffff;
  }

  58% {
    background-color: #007fff;
  }

  66% {
    background-color: #0000ff;
  }

  75% {
    background-color: #7f00ff;
  }

  83% {
    background-color: #ff00ff;
  }

  91% {
    background-color: #ff007f;
  }
}

@keyframes rainbow-dead-background {
  0% {
    background-color: #391313;
  }

  4% {
    background-color: #392613;
  }

  8% {
    background-color: #393913;
  }

  12% {
    background-color: #263913;
  }

  16% {
    background-color: #133913;
  }

  20% {
    background-color: #133926;
  }

  24% {
    background-color: #133939;
  }

  28% {
    background-color: #132639;
  }

  32% {
    background-color: #131339;
  }

  36% {
    background-color: #261339;
  }

  40% {
    background-color: #391339;
  }

  44% {
    background-color: #391326;
  }

  48% {
    background-color: #391313;
  }

  52% {
    background-color: #392613;
  }

  56% {
    background-color: #393913;
  }

  60% {
    background-color: #263913;
  }

  64% {
    background-color: #133913;
  }

  78% {
    background-color: #133926;
  }

  82% {
    background-color: #133939;
  }

  86% {
    background-color: #132639;
  }

  90% {
    background-color: #131339;
  }

  94% {
    background-color: #261339;
  }

  100% {
    background-color: #391339;
  }
}

@keyframes rainbow-border {
  100%,
  0% {
    border: 5px solid #ff0000;
  }

  8% {
    border: 5px solid #ff7f00;
  }

  16% {
    border: 5px solid #ffff00;
  }

  25% {
    border: 5px solid #7fff00;
  }

  33% {
    border: 5px solid #00ff00;
  }

  41% {
    border: 5px solid #00ff7f;
  }

  50% {
    border: 5px solid #00ffff;
  }

  58% {
    border: 5px solid #007fff;
  }

  66% {
    border: 5px solid #0000ff;
  }

  75% {
    border: 5px solid #7f00ff;
  }

  83% {
    border: 5px solid #ff00ff;
  }

  91% {
    border: 5px solid #ff007f;
  }
}
